scikit-learn
seaborn 
matplotlib
numpy
pandas
imbalanced-learn
xgboost
flask
plotly 
xgboost
catboost
polars
dill
lightgbm
pymongo
certifi
-e .            #refers to the setup.py file in the project structure.