scikit-learn
seaborn 
matplotlib
numpy
pandas
imbalanced-learn
xgboost
flask
plotly 
xgboost
catboost
polars
dill
lightgbm
pymongo
certifi
pymongo[srv]==3.12
python-dotenv
-e .            #refers to the setup.py file in the project structure.